nav{
    width: 100%;
    height: 1300px;
    background-image: url("../Assets/channels4_profile.png");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
}
nav img{
    width:70px; 
    height: 70px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

nav ul{
    list-style: none;
    float: right;
    margin-right: 600px;
    margin-top: 60px;
}

nav li{
    width: 150px;
    height: 40px;
    margin: 0 auto;
    float: left;
    color: white;
    margin-right: 40px;
    padding-left: 15px;
    font-family: 'Familjen Grotesk', sans-serif;
}

input{
    width: 255px;
    height: 40px;
    border-radius: 50px;
    float: right;
    margin-top: -60px;
    margin-right: 50px;
    border: 3px solid;
    border-color: red;
    background-color: rgba(0, 0, 0, 0.5);
}

::placeholder{
    padding-left: 10px;
    color: white;
 
}

nav p{
    margin-top: 200px;
}
nav h1{
    margin-left: 50px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 200px;
    color: white;
    
}

nav h2{
    margin-left: 50px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 50px;
    color: white;
}



.buttonplay{
    width: 300px;
    height: 90px;
    background-color: red;
    margin-left:50px;
    margin-top: -150px;
    border-radius: 50px;

}

.text h2{
    padding-left: 50px;
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
}

.buttonplay:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid;
    border-color: red;
}

.buttonplay2{
    width: 300px;
    height: 90px;
    border: 5px solid;
    border-color: red;
    margin-left:50px;
    margin-top: -90px;
    border-radius: 50px;
    float: right;
    margin-right: 830px;
   

}

.text2 h2{
    padding-left: 21px;
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
}

.buttonplay2:hover{
    cursor: pointer;
    background-color: red;
}

.hearticon{
    float: right;
    margin-left: 500px;
    margin-top: -80px;
    margin-right: 730px;
}

.hearticon svg:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

section{
    width: 100%;
    height: 1650px;
    background-color: #0B0C10 ;
}

.colbox{
    width: 500px;
    height: 50px;
    background-color: aliceblue;
    margin-left: 200px;
    margin-top: -60px;
    position: relative;
}
.colbox iframe{
position: relative;
z-index: 2;
}

.colbox2{
    width: 700px;
    height:480px;
    background-color: #202833 ;
    margin-left:650px;
    margin-top: -60px;
    opacity: 0.7;
    padding-left: 140px;
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    padding-top: 20px;
}

.colbox2 b{
    font-size: 27px;
    font-family: 'Familjen Grotesk', sans-serif;
}

.colbox2 img{
    margin-left: 470px;
}

.colbox2 svg{
    margin-left: 390px;
    margin-top: -76px;
}

.colbox2 svg:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

.colbox2 img:hover{
    cursor: pointer;
    background-color: red;
    border-radius: 50%;
}

.text3{
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    margin-top: 80px;
    margin-left: 150px;
}

.albumcover{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/21\ Savage_Offset_Metro\ Boomin_Without\ Warning.png");
    background-position: center;
    background-size: cover;
    margin-left: 140px;
    margin-top: 30px;
}

.albumcover img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.linelement{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
  
}

.linelement h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover2{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/ab67616d0000b2737028679269dc6a5a29ce8f36.png");
    background-position: center;
    background-size: cover;
    margin-left: 450px;
    margin-top: -250px;
}

.albumcover2 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay2{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay2:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement2{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover3{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/downloa\ 2.png");
    background-position: center;
    background-size: cover;
    margin-left: 750px;
    margin-top: -250px;
}

.albumcover3 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay2{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay2:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover4{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/download\ 3.png");
    background-position: center;
    background-size: cover;
    margin-left: 1050px;
    margin-top: -250px;
}

.albumcover4 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay2{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay2:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover5{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/download6.png");
    background-position: center;
    background-size: cover;
    margin-left: 140px;
    margin-top: 50px;
}

.albumcover5 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay5{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay5:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover6{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/RRM\ 1.png");
    background-position: center;
    background-size: cover;
    margin-left: 280px;
    margin-top: 50px;
}

.albumcover6 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay6{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay6:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover7{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/images..png");
    background-position: center;
    background-size: cover;
    margin-left: 420px;
    margin-top: 50px;
}

.albumcover7 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay7{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay7:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover8{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/JID-The-Forever-Story.png");
    background-position: center;
    background-size: cover;
    margin-left: 1040px;
    margin-top: -250px;
}

.albumcover8 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay8{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay8:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover9{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/FE.png");
    background-position: center;
    background-size: cover;
    margin-left: 140px;
    margin-top: 40px;
}

.albumcover9 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay9{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay9:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover10{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/download4.png");
    background-position: center;
    background-size: cover;
    margin-left: 280px;
    margin-top: 40px;
}

.albumcover10 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay10{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay10:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}

.albumcover11{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/Culture_II.png");
    background-position: center;
    background-size: cover;
    margin-left: 420px;
    margin-top: 40px;
}

.albumcover11 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay11{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay11:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}
.albumcover12{
    width: 250px;
    height: 250px;
    background-image: url("../Assets/dd8b5645ae83288fbb5481b24fd93968.1000x1000x1.png");
    background-position: center;
    background-size: cover;
    margin-left: 1040px;
    margin-top: -250px;
}

.albumcover12 img{
    margin-left: 90px;
    margin-top: 80px;
}

.overlay12{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    
}

.overlay12:hover{
    cursor: pointer;
    opacity: 1;
    
}

.linelement3{
    width: 250px;
    height: 70px;
    background-color: white;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    
  
}

.linelement2 h5{
    padding-top: 10px;
    font-family: 'Familjen Grotesk', sans-serif;
    
}

.linelement img{
    margin-left: 200px;
    margin-top: -120px;

}

.linelement img:hover{
    background-color: red;
    border-radius: 50%;
}



.text4{
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    margin-top: 80px;
    margin-left: 150px;
}

footer{
    width: 100%;
    background-color: #0B0C10;
    padding-bottom: 30px;
}



footer img{
    width:70px; 
    height: 70px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 130px;
}

.yt{
    margin-left: 700px;
    margin-top: -100px;
}

.yt2{
    margin-left: 800px;
    margin-top: -100px;
}

.yt3{
    margin-left: 900px;
    margin-top: -100px;
}

.yt4{
    margin-left: 1000px;
    margin-top: -100px;
}

.text5{
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    margin-left: 150px;
    margin-top: -30px;
}

.copyright{
    margin-left: 20px;
    margin-top: -75px;
}




